<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <div class="row">
        <div class="column">
            <div class="wrapper fadeInDown">
                <div class ="images" >
                         <br>
                         <h1> send my fuckin money</h1>
                        <br>
                        <div class ="processing">
                            <div class ="processing-bar" data-bar ="50">
                            Progress Funding  50%
                            </div>
                         </div>
                         <br><br>
                    <div class ="notesfund" >
                        <P style="color: black;">
                        <b>Benefit from this project by fund category</b>
                            silver : Free shirt and group community<br>
                            platinum : group community and early 20% product price<br>
                            gold : private community and get 40% product price<br>
                        </P>
                    </div>
                </div>  
            </div>
        </div>
        <div class="column">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                     <form>
                     <P>Choose Your fund Category</P>
                     <input type="text" id ="Total Dana" class ="fadeIn second" name="Total Dana" ><br>
                     <P>Choose Your payment method</P>
                     <input type="text" id ="Cara Penarikan" class ="fadeIn third" name="Cara Penarikan" ><br>  
                    <p ><input type="checkbox" checked="checked" name="sameadr"> I agree to the terms, risks, and privacy policy from this project
                    </p>
                     <br><br>
                     <P>Summary of payment</P>
                 </div>  
            </div>         
        </div>  
    </div>
    
</body>
</html>