<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>KUDA (Kumpul Dana) for Research Funding</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
      <!-- Additional CSS Files -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="assets/css/template.css">
      
      <link rel="stylesheet" href="assets/css/owl.css">
      

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>

    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="assets/images/logokuda.png" alt="KUDA">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#">Discover</a></li>
                            <li class="scroll-to-section"><a href="#">FAQ</a></li>
                            <li>
                                <div class="gradient-button"><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i> Log In Now</a></div>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>      
    </div>

    <section class="dasar">
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>

        <div class="wrapper d-flex align-items-stretch">
				<div class="p-4">
		  		<h1><a href="index.html" class="logo">Settings </a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li >
	            <a href="#"></span> Accounts</a>
	          </li>
	          <li>
	              <a href="#"></span> Edit Profile</a>
	          </li>
	          <li>
              <a href="#"></span> Notifications</a>
	          </li>
	          <li >
              <a href="#"></span> Payment Methods</a>
	          </li>
	          <li>
              <a href="#"></span> Withdrawal Methods</a>
	          </li>
	          <li class="active">
              <a href="#"></span> Delete Account</a>
	          </li>
	        </ul>
	      </div>
    	</nav>
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Please dont go :(</h2>
        <h6>If you delete your account, please be reminded this action cannot be undone, and:</h6>
        <br>
        <div class="row">
          
           
            <div class="column">
                <div class="wrapper fadeInDown">
                    <div id="formContents">
                        <h6>
                            Beberapa data masih tersimpan untuk kepentingan bisnis.
                        </h6>
                        
                    </div>  
                </div>
            </div>
            <div class="column">
               
                    <div id="formContents">
                       <ul class="list-unstyled components mb-5">
                        <li>Profil terhapus </li>
                        <li>email dan password terhapus</li> 
                        <li>stop notifikasi dan email</li>

                       </ul>
                    </div>  
                
            </div>
          
        </div>
        <h3></h3>

            <div class="buttonsubmit" >
                Delete Accounts 
              </div> 
        
       
      
        
     
            
      </div>
	</div>
 
</section>


        
    </header>
	
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>