<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
        <title>KUDA (Kumpul Dana) for Research Funding</title>
    
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
        <link rel ="stylesheet" type="text/css" href="assets/css/login.css">
    
        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/template.css">
        
        <link rel="stylesheet" href="assets/css/owl.css">
    
    </head>
    
    <body>

    
        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="index.html" class="logo">
                                <img src="assets/images/logokuda.png" alt="KUDA">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                                <li class="scroll-to-section"><a href="#">Discover</a></li>
                                <li class="scroll-to-section"><a href="#">FAQ</a></li>
                                <li>
                                    <div class="gradient-button"><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i> Log In Now</a></div>
                                </li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
    
        <div id="modal" class="popupContainer" style="display:none;">
            <div class="popupHeader">
                <span class="header_title">Login</span>
                <span class="modal_close"><i class="fa fa-times"></i></span>
            </div>
            
        </div>

       
       

        <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h2>Get The Latest App From Apps Stores</h2>
                                            <p>KUDA is an crowd-funding app to help researcher build their project.</p>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="white-button first-button scroll-to-section">
                                                <a href="#contact">ios <i class="fab fa-apple"></i></a>
                                            </div>
                                            <div class="white-button scroll-to-section">
                                                <a href="#contact">android<i class="fab fa-google-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <img src="assets/images/slider-dec.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <center>
                
                <div class="containers">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                      
                          <h3>Forgot Password</h3>
                         <form>
                        <input type="text" id ="Email" class ="fadeIn second" name="Email" placeholder="input your email"><br>
                        <input type="text" id ="demo" class ="fadeIn third" name="demo" placeholder="questions"><br>
                        <input type="text" id ="answer" class ="answer" name="answer" placeholder="answer"><br>
                        <input type ="submit" class="fadeIn fourth" value="Sign Up">
                        </form>       
                        </div>
                    </div>

                </div>
                
            </center>  

        </section>
    
        <div id="about" class="about-us section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="section-heading">
                            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
                            <img src="assets/images/heading-line-dec.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box-item">
                                    <h4><a href="#">Maintance Problems</a></h4>
                                    <p>Lorem Ipsum Text</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="box-item">
                                    <h4><a href="#">24/7 Support &amp; Help</a></h4>
                                    <p>Lorem Ipsum Text</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="box-item">
                                    <h4><a href="#">Fixing Issues About</a></h4>
                                    <p>Lorem Ipsum Text</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="box-item">
                                    <h4><a href="#">Co. Development</a></h4>
                                    <p>Lorem Ipsum Text</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor idunte ut labore et dolore adipiscing magna.</p>
                                <div class="gradient-button">
                                    <a href="#">Start Discover Now</a>
                                </div>
                                <span>*No Credit Card Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image">
                            <img src="assets/images/about-right-dec.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <footer id="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="section-heading">
                            <h4>Join our mailing list to receive the news &amp; latest trends</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-3">
                        <form id="search" action="#" method="GET">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <fieldset>
                                        <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <fieldset>
                                        <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Contact Us</h4>
                            <p>Pulau Jawa, Indonesia</p>
                            <p><a href="#">010-020-0340</a></p>
                            <p><a href="#">kuda@here.co</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4></h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4></h4>
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Term of Use</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4 style="color: firebrick;">
                                <strong>DISCLAIMER</strong></h4>
                            <p>Funder must understand that they’re not buying something when they fund a project—they’re helping to create something new, not ordering something that already exists.</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <p>Copyright © 2022 Kumpul Dana Company. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    
    
        <!-- Scripts -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/owl-carousel.js"></script>
        <script src="assets/js/animation.js"></script>
        <script src="assets/js/imagesloaded.js"></script>
        <script src="assets/js/popup.js"></script>
        <script src="assets/js/custom.js"></script>
    </body>
</html>

