<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
  
  </head>
 
  <body>

    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            
    </div>

    <section class="dasar">
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="index.html" class="logo">Settings </a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#"></span> Accounts</a>
	          </li>
	          <li>
	              <a href="#"></span> Edit Profile</a>
	          </li>
	          <li>
              <a href="#"></span> Notifications</a>
	          </li>
	          <li>
              <a href="#"></span> Payment Methods</a>
	          </li>
	          <li>
              <a href="#"></span> Withdrawal Methods</a>
	          </li>
	          <li>
              <a href="#"></span> Delete Account</a>
	          </li>
	        </ul>
	      </div>
    	</nav>
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Accounts</h2>
     
          <div id="formContent">
              <form>
              <h6><b>Email</b></h6>
              <input type="text" id ="Email" class ="fadeIn second" name="Email" ><br>
                <br> <br>
              <h6 ><b>Change Password</b></h6>
              <h10 >Old Password  </h10><br>
              <input type="text" id ="Cara Penarikan" class ="fadeIn third" name="Cara Penarikan" ><br><br>
              <h6>Confirm New Password</h6>
              <h10 >New Password</h10><br>
              <input type="text" id ="Cara Penarikan" class ="fadeIn third" name="Cara Penarikan" >
              <P></P>
          
              </form> 
              <div class="buttonsubmits">
                Save
              </div>  
              <br>
              </div>   
      </div>
	</div>
 
</section>


        
    </header>
	
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>